#header {
    background-color: $applewood-blue;
    padding: 10px 0 0 0;
}

.logo img {
    width: 100%;
    max-width: 315px;
}

#mobileSocialNav {
    display: none;
}

#headerContact {
    padding-top: 30px;
    color: #fff;
    #socialNav {
        padding: 0 0 0 1.875rem;
    .menu {
        float: right;
    }
    li i {
        font-size: 24px;
        margin-left: 10px;
        color: #fff;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $applewood-lightblue;
        }
    }
    .phone {
        padding: 0 20px 0 10px;
            &:hover {
                color: $applewood-lightblue;
            }
        }
    }

    a {
        color: #fff;
        &:hover {
            color: $applewood-lightblue;
        }
    }
    span, .button-red {
            font-family: $applewood-title;
            font-weight: bold;
            font-size: 20px;
            // margin-right: 10px;
        }
}

.button-red {
    background-color: $applewood-red;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), inset 0px 0px 6px 0px rgba(255,255,255,0.1);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), inset 0px 0px 6px 0px rgba(255,255,255,0.1);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), inset 0px 0px 6px 0px rgba(255,255,255,0.1);
    border-radius: 3px;
    margin-top: -12px;
}

#mainNav {
    width: 100%;
    margin-top: 15px;
    // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#224d8c+0,224d8c+100&0.25+0,0.1+20,0+100
    background: -moz-linear-gradient(top,  rgba(34,77,140,0.25) 0%, rgba(34,77,140,0.1) 20%, rgba(34,77,140,0) 100%),
    $applewood-blue;; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(34,77,140,0.25) 0%,rgba(34,77,140,0.1) 20%,rgba(34,77,140,0) 100%),
    $applewood-blue;; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(34,77,140,0.25) 0%,rgba(34,77,140,0.1) 20%,rgba(34,77,140,0) 100%),
    $applewood-blue; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40224d8c', endColorstr='#00224d8c',GradientType=0 ); /* IE6-9 */
    background-blend-mode: multiply;
    a {
        font-family: $applewood-title;
        font-weight: bold;
        color: #fff;
        font-size: 20px;
    }
    ul {
        margin-bottom: 0 !important;
    }

    li {
        border-left: 1px solid rgba(0,0,0,0.12);
        text-align: center;
        position: relative;
        padding: 20px 0;
        transition: background-color 0.2s ease-out;
        &:before {
            position: absolute;
            top: 0;
            left:1px;
            content: '';
            height: 100%;
            width: 1px;
            border-left: 1px solid rgba(255,255,255,0.08);
        }
        &:last-child {
            border-right: 1px solid rgba(0,0,0,0.12);
            &:after {
                position: absolute;
                top: 0;
                left:100%;
                content: '';
                height: 100%;
                width: 3px;
                border-right: 1px solid rgba(255,255,255,0.08);
            }
        }
        &:hover {
            background-color: $applewood-lightblue;
        }

    }
    .menu.expanded {
        table-layout: auto;
    }
}

@media screen and (max-width: 39.9375em) {
    #headerContact {
        display: none;
    }

    #mobileSocialNav {
        display: block;
        ul li {
            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
        a {
            color: #fff;
            font-family: $applewood-title;
            font-weight: bold;
        }
    }
    .logo {
        text-align: center;
    }
    
}


@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #header {
        padding-bottom: 10px;
    }
    #headerContact .button-red {
        margin-left: 40px;
        margin-top: 8px;
    }
    #headerContact {
        justify-content: flex-end;
    }
    #headerContact span {
        margin-right: 0;
    }

    #headerContact #socialNav {
        padding: 0 !important;
        .phone {
            padding: 0;
        }
    }
    #header {
        padding-top: 0;
    }

    .logo {
        padding-top: 20px;
    }

}