#homeTestimonial {
    background: url(../images/open-quote.svg) 10px -10px no-repeat, $applewood-offwhite;
    background-size: 90px auto;
    border: 1px solid #EBEBEB;
    -webkit-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.08);
    position: relative;
    margin-bottom: 70px;
    &:before {
        position: absolute;
        content: '';
        height: 75px;
        width: 90px;
        bottom: 0px;
        right: 0;
        background: url(../images/close-quote.svg) 0px 10px no-repeat;
        background-size: contain;
    }
    #readMore {
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 10;
        a {
            font-family: $applewood-title;
            font-weight: bold;
            color: $applewood-lightgrey;
            font-size: 15px;
        }
        &:hover {
            color: $applewood-red;
        }
    }
}

#testimonialSlider {
    .orbit-arrow-container {
        max-width: 96%;
        margin: 2% auto;
        top: 80px;
    }

    text-align: center;
    padding: 50px 0;
    .testimonialTitle {
        font-family: $applewood-title;
        color: $applewood-red;
        font-size: 30px;
        line-height: 34px;
        font-weight: bold;
    }
    .testimonialBody {
        font-family: $applewood-body;
        color: $applewood-darkgrey;
        font-size: 20px;
        line-height: 30px;
        width: 80%;
        margin: 0 auto;
    }
    .testimonialAuthor {
        font-family: $applewood-body;
        font-weight: bold;
        color: $applewood-blue;
        font-size: 17px;
        line-height: 24px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 63.9375em) {
    #testimonialSlider {
        padding: 30px 0;
    }
    // .sp-layer {
    //     height: 100%;
    //     background: rgba(60,137,183,0.8);
    // }
    // .slider-overlay-container {
    //         margin-top: 0px;
    //         div {
    //             width: 100%;
    //             background-color: rgba(60,137,183,0);
    //             vertical-align: middle;
    //         }
    //     }
}






