@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;





// ------------------------------------------------------------


@import 'applewood-config';
@import 'applewood-fonts';
@import 'header';
@import 'applewood-slider';
@import 'experts';
@import 'testimonial-slider';
@import 'tips-and-tricks';
@import 'humble-beginnings';

.hidden{
    display: none;
}
// #fouc {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     height: 100vh;
//     z-index: 500;
//     opacity: 0.95;
//     top:0;
//     left:0;
    
//     z-index: 500;
//     background: $applewood-blue;
// }

.button {
    padding: 0.65em 1em;
}

.button-red {
    background-color: $applewood-red;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), inset 0px 0px 6px 0px rgba(255,255,255,0.1);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), inset 0px 0px 6px 0px rgba(255,255,255,0.1);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1), inset 0px 0px 6px 0px rgba(255,255,255,0.1);
    border-radius: 3px;
    margin-top: -12px;
    transition: all 0.2s ease-in-out;
    &:hover, &:focus {
        background-color: $applewood-lightblue;
    }

}

a {
    transition: all 0.2s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $applewood-title;
    font-weight: bold;
}

.test {
    background-color: red;
    padding-top: 50px;
}

#socialFeeds {
    padding: 50px 0;
    background-color: $applewood-offwhite;
    h3 {
        color: $applewood-blue;
        font-size: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #EBEBEB;
    }
}
.facebook-container {
    text-align: center;
}
.facebook-container, .twitter-container {
    padding-top: 40px;
}

#contactFooter {
    .contactContainer {
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 50px;
    }
    background-color: $applewood-blue;
    padding: 50px 0;
    color: #fff;
    h4 {
        font-size: 26px;
        margin: 0 auto;
    }
    h5 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    p {
        font-family: $applewood-title;
        font-weight: bold;
        font-size: 18px;
        padding: 0;
        margin-top: -5px;
    }
        ul li {
                display: -webkit-inline-box;
                display: inline-box;
                margin: 10px auto;
            }
        a {
        color: #fff;
        font-family: $applewood-title;
        font-weight: bold;
        i {
            font-size: 28px;
            margin-right: 10px;
            
        }
        &:hover {
            color: $applewood-lightblue;
        }
    }
    button {
        font-family: $applewood-title;
        font-weight: bold;
        color: #fff;
        font-size: 25px;
        margin-top: 10px;
    }
    .contactFooter-right {
        text-align: right;
    }
    .locations {
        padding: 30px 0;
        p {
            font-family: $applewood-title;
            font-weight: bold;
            font-size: 24px;
        }
    }
    #locationMenu li {
        list-style: none;
        float: left;
        margin: 0 10px 0 5px;
        position: relative;
        font-family: $applewood-body;
        font-size: 17px;
        &:after {
            content: '-';
            position: absolute;
            right: -10px;
            opacity: 0.4;

        }
        &:last-child:after {
            content: '';
        }
    }
}

#footer {
        background-color: $applewood-lightblue;
        padding: 30px 0;
        a {
            color: #fff;
            font-family: $applewood-title;
            &:hover {
                color: $applewood-blue;
            }
        }
        ul {
            // margin: 0;
            li {
                list-style: none;
                &:first-child a {
                    font-size: 18px;
                    font-weight: bold;
                }
                a {
                    font-size: 14px;
                }
            }
        }
        .footerMenu {
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        #copyright {
            padding: 30px 0;
            color: rgba(0,0,0,0.3);
            li {
                list-style: none;
                float: left;
                margin: 0 10px 0 5px;
                position: relative;
                font-family: $applewood-body;
                font-size: 13px;
                a {
                    font-weight: bold;
                    font-family: $applewood-body;
                    font-size: 13px;
                    color: rgba(0,0,0,0.3)
                }
        &:after {
            content: '|';
            position: absolute;
            right: -10px;
            opacity: 0.4;

        }
        &:last-child:after {
            content: '';
            }
        }
    }
}

.off-canvas-wrapper {
    background-color: $applewood-blue;
}
.off-canvas li {
    padding: 10px 0;
    border-bottom: 1px solid $applewood-lightblue;
    a {
        font-family: $applewood-title;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        margin-left: 20px;
    }
}

.title-bar {
    background-color: #222;
    display: none;
}

.footerMenu ul {
    float: left;
    margin-right: 8px;
    margin-right: 1.4vw;
}




@media screen and (max-width: 63.9375em) {
    .title-bar {
        display: block;
    }

    #mainNav {
        display: none;
    }
    .facebook-container {
        padding-bottom: 40px;
    }

    .twitter-container {
        max-width: 70%;
        margin: 0 auto;
    }

    #contactFooter {
        .contactContainer {
            text-align: center !important;
            ul li {
                display: -webkit-inline-box;
                display: inline-box;
                margin: 10px auto;
            }
            .contactFooter-right {
                text-align: center;
            }
        }

    }

    .footerMenu ul {
        float: none;

    }

    #copyright {
        text-align: center;
    }


}



